@model YemekSitesi.Models.Entity.Tbl_Yemek
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h2>Yemek Güncelleme Sayfası</h2>
</div>
@using (Html.BeginForm("Guncelle", "AdminYemekler", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Yemek Id:</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Yemek Ad:</label>
        @Html.TextBoxFor(x => x.Yemekad, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Yemek Resim:</label>
        @Html.TextBoxFor(x => x.Resim, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Yemek Kategori:</label>
       @Html.DropDownListFor(x=>x.Tbl_Kategori.Id, (List<SelectListItem>)ViewBag.kat, new {@class="form-control", @required="required"} )
    </div>
    <div style="margin-top:20px;">
        <label>Tarih:</label>
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Malzemeler:</label>
        @Html.TextAreaFor(x => x.Malzemeler, new { @class = "form-control", @required = "required", @style = "height:150px;" })
    </div>
    <div style="margin-top:20px;">
        <label>İçeirk:</label>
        @Html.TextAreaFor(x => x.icerik, new { @class = "form-control", @required = "required", @style = "height:150px;" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Yemek Güncelle</button>
    </div>
}
