@model YemekSitesi.Models.Entity.Tbl_Yorum
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h2>Yorum Detay Sayfası</h2>
</div>
<form class="form-group">
    <div style="margin-top:20px;">
        <label>Yorum Id</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>İsim:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Mail:</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Yemek: </label>
        @Html.TextBoxFor(x => x.Tbl_Yemek.Yemekad, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>İçerik:</label>
        @Html.TextAreaFor(x => x.İcerik, new { @class = "form-control", @readonly = "readonly" })
    </div>
</form>

